* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.gallery img {
  width: 300px;
}
