$main-color: #0075ff;
$footer-color: #f4f8fe;

@mixin btn-base {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  transition: all 500ms;
}

@mixin btn-sm {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-main {
  @include btn-base();
  background-color: $main-color;
  color: white;
  border: 1px solid $main-color;

  &:hover {
    background-color: white;
    color: $main-color;
  }

  &-sm {
    @extend .btn-main;
    @include btn-sm();
  }
}

.btn-sec {
  @include btn-base();
  color: #000;
  background-color: transparent;
  border: none;

  &:hover {
    color: #888;
  }

  &-sm {
    @extend .btn-sec;
    @include btn-sm();
  }
}

.main-menu {
  margin-bottom: 0;

  li {
    font-size: 0.75rem;
    list-style: none;
    display: inline;
    margin-right: 2rem;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.icon-sm {
  i {
    font-size: 1.25rem;
    color: $main-color;
    padding: 0.4rem 0.65rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #0004;
  }
}

.benefit {
  display: flex;
  flex-direction: column;

  //   justify-content: center;
  //   align-items: center;

  text-align: center;

  i {
    color: $main-color;
    font-size: 7.5rem;
  }

  .description {
    .title {
      font-size: 2rem;
    }

    .text {
      color: #888;
      font-weight: 600;
    }
  }

  .cta {
    color: $main-color;
    font-weight: 600;
    margin-top: 3rem;
  }
}

.icon-desc {
  text-align: center;

  i {
    color: $main-color;
    padding: 0;
    font-size: 10rem;
  }

  .title {
    margin-top: -1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
